* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 40px auto;
  text-align: center;
}

.artcontainer {
  margin: 0 auto;
  max-width: 800px;
  max-height: 250px;
  display: block;
}

.pixel {
  border: 1px solid grey;
  height: 9px;
  width: 9px;
  display: inline block;
  float: left;
}

.palettecontainer {
  clear: both;
  padding-top: 40px;
}

.clearbutton {
  border: none;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-left: 20px;
  margin-right: 65px;
  padding: 15px;
  font-size: 1.1em;
  vertical-align:baseline;;
  text-align: center;
  cursor: pointer;
}

.palettecolor {
  border: 1px solid black;
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 20px;
  margin: 6px 2px;
  vertical-align: middle;
  cursor: pointer;
}

.selectedcolor {
  border: 1px solid black;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-left: 35px;
  margin-right: 20px;
  vertical-align: middle;
}

.color1 {
  background-color: #ff0000;
}

.color2 {
  background-color: #ff5400;
}

.color3 {
  background-color: #ffb800;
}

.color4 {
  background-color: #ffde00;
}

.color5 {
  background-color: #2bff00;
}

.color6 {
  background-color: #00ffba;
}

.color7 {
  background-color: #00abff;
}

.color8 {
  background-color: #005eff;
}

.color9 {
  background-color: #0021ff;
}

.color10 {
  background-color: #3b00ff;
}

.color11 {
  background-color: #5200ff;
}

.color12 {
  background-color: #8000ff;
}

.color13 {
  background-color: #a600ff;
}

.color14 {
  background-color: #e300ff;
}

/*.color15 {
  background-color: #ffffff;
}

.color16 {
  background-color: #000000;
}*/
